* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-size: 1rem;
}

@font-face {
    font-family: 'HankenGrotesk-VariableFont_wght';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    /* You can add other font properties here, such as font-weight or font-style */
  }
@font-face {
    font-family: 'HankenGrotesk-Medium.ttf';
    src: url('assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
    /* You can add other font properties here, such as font-weight or font-style */
  }
  @font-face {
    font-family: 'HankenGrotesk-ExtraBold.ttf';
    src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
    /* You can add other font properties here, such as font-weight or font-style */
  }
  @font-face {
    font-family: 'HankenGrotesk-Bold.ttf';
    src: url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
    /* You can add other font properties here, such as font-weight or font-style */
  }
  
  
.container {
    font-family: 'HankenGrotesk-VariableFont_wght', sans-serif;
    width: 40%;
    height: auto;
    box-shadow: 7px 7px 20px 1px rgba(0, 0, 0, 0.2);
    margin: 10em auto;
    display: flex;
    flex-direction: row;
    border-radius: 1em;
}
.container_1 {
    background: linear-gradient(0deg, #3730EC, #6742FD);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.2em 1.5em;
    width: 50%;
    border-radius: 1em;
}
.container_1 > p:first-child {
    color: #CFC8FF;
    margin: 1.5rem;
    font-family: 'HankenGrotesk-Bold', sans-serif;
}
.circle {
    background: linear-gradient(180deg, #4D22C9, #4835F1);
    border-radius: 50%;
    height: 9rem;
    width: 9rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.circle > p {
    color: #CFC8FF;
    font-size: .8rem;
}
.circle > h1 {
    color: #FFFFFD;
    font-size: 3rem;
}
.container_1 > h3 {
    color:#FFFFFD;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.container_1 > p:last-child {
    text-align: center;
    font-family: 'HankenGrotesk-Small', sans-serif;
    color: #CFC8FF;
    margin-bottom: 2rem;
}


.container_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 50%;
    padding: 0 1.5em;
}

.container_2 > h3 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: .5rem;
    margin-bottom: 0.5rem;
}

 .icon_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
 }
 span {
    color: #B6AFB3;
 }

.icon_text > p {
    display: inline-block;
}
.red {
    background-color: #FFF4F2;
}
.red > .icon_text > p {
    color: #F55;
}
.yellow {
    background-color: #FEFBF2;
}
.yellow > .icon_text > p {
    color: #FFB21E;
}
.green {
    background-color: #F2FAFA;
}
.green > .icon_text > p {
    color: #00BB8F;
}
.blue {
    background-color: #F3F3FD;
}
.blue > .icon_text > p {
    color: #1125D6;
}
.button {
    display: flex;
    align-items: center;
  justify-content: center;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    width: 100%;
    background-color: #303B59;
    border-radius: 3rem;
    color:white;
}

@media screen and (max-width: 1196px){
    body {
        font-size: 70%;
    }
}

@media screen and (max-width:920px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100%;
    }
    .container {
    font-family: 'HankenGrotesk-VariableFont_wght', sans-serif;
    width: 100%;
    max-width: 425px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 0;
    }   
    .container_1 {
        width: 100%;
        border-radius: 0;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .container_2 {
        width: 100%;
        border-radius: 0;
    }
}

